* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e6eff6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
    display: grid;
    height: 30rem;
    width: 40%;
    background-color: violet;
    grid-template-rows: repeat(2, 48% 52%);


}

.card-container {
    font-size: 0.9rem;
}

.description-card {
    background-color: #ffff;
    padding: 2rem;

}

.description-card h1 {
    color: #2fb3a5;
    margin: 1rem 0px;
}

.description-card h2 {
    color: #bfdf32;
    font-weight: 600;
}

.description-card p {
    color: #abb0b6;
    width: 90%;
    margin: 0.5rem 0px;
}

.card-container {
    display: flex;
}

.card {
    width: 50%;
    padding: 2rem;
}

.card-1 {
    background-color: #2bb3b1;
    display: grid;
    grid-template-rows: repeat(2, 60% 40%);
    color: #ffffffe8;
}

.suscription-data {
    display: grid;
    grid-template-rows: repeat(3, 1fr 1fr 1fr);

}

.card-1 h3 {
    font-weight: 500;

}

.price {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 30% 70%);

}

.number {
    font-size: 2.5rem;
    font-weight: 600;
}

.text {
    color: #c6ccd3;
}

button {
    background-color: #bfdf32;
    color: #ffffffe8;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.9rem;
    border-radius: 5px;
    box-shadow: 5px 5px 11px -3px rgba(0, 0, 0, 0.3);

}

.card-2 {
    background-color: #4abebd;
    display: grid;
    grid-template-rows: repeat(2, 50% 50%);
    color: #ffffffe8;
    display: flex;
    flex-direction: column;
}

.card-2 ul {
    font-weight: 100;
    margin-top: 1rem;
    list-style-type: none;
}

.card-2 h3 {
    font-weight: 500;

}

@media screen and (max-width: 815px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 90%;
    }
    .description-card {
       font-size: 0.9rem;
        }
        .description-card h2{
            margin: 0.5rem 0px;
            font-size: 0.9rem;
        }
    .card-container {
        width: 100%;
        flex-wrap: wrap;
        height: auto;
    }

    .card {
        width: 100%;
        padding: 2rem;
        flex-wrap: wrap;
        height: auto;
    }

    .suscription-data {
       display: flex;
       flex-direction: column;
            }

    .card-1 {height: 50%;

    }
    .button-container{
        margin: 0.9rem 0px;
    }
    .card-2 {height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}